body {
    font-family: 'Shizuru', cursive;
    font: 14px;
    margin: 20px;
    background-color: lightskyblue;
  }
  
ol, ul {
    padding-left: 30px;
}
  
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 10px;
}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-info {
    margin-left: 20px;
}

h1 {
    color: #E6280F;
}

button {
    font-family: 'Shizuru', cursive;
    padding: 5px;
    background-color: #46af37;
}